@charset "utf-8";

body{
	padding: 0px;
	margin: 0px;
}

li{
	list-style: none;
}

a{
	text-decoration:none;
}

.btn-close{
	position:absolute;
	right: 10px;
}

.my-text-style:hover{
	text-decoration:underline;
}